@use './variables' as *;

/* Flex helpers */
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* Pokémon type pill */
@mixin tipo-pill {
  color: $white;
  background-color: rgba(255, 255, 230, 0.3);
  border-radius: $radius-sm;
  text-align: center;
  padding: 2px 10px;
  text-transform: capitalize;
  place-self: flex-start;
}
